pandas
numpy
matplotlib
seaborn
ipykernel
ipywidgets
xgboost
lightgbm
catboost
mlxtend
shap
jupyterlab
notebook
optuna
tqdm
pyarrow
voila

python-dotenv
ensure
certifi
mysql-connector-python
SQLAlchemy

dill
mlflow
pyyaml
dagshub
fastapi
uvicorn
python-multipart